################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIs/OPF.PropertyApiSolution/.vs/OPF.PropertyApiSolution/FileContentIndex
